<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	<% name_array = ["Frank", "Bob", "Sal", "Charlie", "Tommy"] %>
	<% name_array.each do |name| %>
	<%= "<b>" + name + "<b><br>" %>
	<% end %>

	<% nav_array = ["Home", "Interests", "Resume", "Array Test"] %>
	<% nav_array.each do |element| %>
	<%= "<li>" + element + "</li>" %>
  <% end %>


</body>
</html>