<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Interests</a></li>
    <li><a href="#">Resume</a></li>
  </ul>

  <%= yield %>
</body>
</html>

